<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="SubstituteVariableFilePath" value="config.json"/>
    <add key="ScriptsPath" value="scripts"/>
    <add key="AuxiliaryScriptsPath" value="AuxScripts"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <log4net debug="false">
    <appender name="file-appender" type="log4net.Appender.FileAppender">
      <file value=".\\log-file.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="file-appender"/>
    </root>
  </log4net>

</configuration>
